<div class="form-inline mb-3">
    <input type="text" id="ingredient" class="form-control" placeholder="&#xf107; Dodaj składnik" [(ngModel)]="name" >
    <select id="category" class="form-select" [(ngModel)]="category">
        <option value="">Wybierz kategorię</option>
        <option *ngFor="let category of products.categories" [ngValue]="category">
            {{firstCharToUpper(category)}}
        </option>
    </select>
    <button id="add-ingredient" class="btn btn-success" (click)="addProduct()">Dodaj</button>
</div>